service: product-service
frameworkVersion: '3'

plugins:
  - serverless-webpack
  - serverless-openapi-documentation

provider:
  name: aws
  runtime: nodejs12.x
  region: 'eu-west-1'
  environment:
      PG_HOST: ${self:custom.params.pgHost}
      PG_PORT: ${self:custom.params.pgPort}
      PG_DBNAME: ${self:custom.params.pgDatabase}
      PG_USERNAME: ${self:custom.params.pgUser}
      PG_PASSWORD: ${self:custom.params.pgPassword}
      DATA_TABLE_NAME: ${self:custom.params.dynamoTableName}

custom:
  params:
    pgDatabase: ${ssm:postgresdb-products-database}
    pgHost: ${ssm:postgresdb-products-host}
    pgPassword: ${ssm:postgresdb-products-password}
    pgPort: ${ssm:postgresdb-products-port}
    pgUser: ${ssm:postgresdb-products-user}
    dynamoTableName: ${ssm:dynamodb-name}
  bundle:
    linting: true
  webpack:
    webpackConfig: 'webpack.config.js'
  documentation: ${file(./serverless/documentation/documentation.yml):documentation}

functions: ${file(./serverless/functions.yml)}

resources: ${file(./serverless/resources.yml)}

package:
  individually: false
  excludeDevDependencies: true
  patterns:
    - '!.git'
    - '!.git/**'
    - '!.github/**'
    - '!.gitignore'
    - '!coverage'
    - '!README.md'
    - '!serverless.yml'
    - '!serverless/**'

      
